@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-principal: #383838;
    --bg-secundario: #000000;
    --texto-principal: #FFFFFF;
    --cor-principal: #EE633C;
    --cor-basica: #9B9B9B;
    --cor-clara: #A6A3A3;
}

body{
    font-family: Onest;
}

.cabecalho {
    width: 100%;
    height: 70px;
    background-color: #353535;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

.logo img {
    margin-left: -40px;
    width: 105px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 35px;
}

.menu a {
    color: white;
    font-size: 16px;
    font-weight: 700;
}

.menu img{
    width: 60px;
}

.carregamento{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--bg-secundario);
}

.carregamento p{
    color: var(--texto-principal);
}

.contagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primeiro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numeros{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-principal);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-weight: bolder;
}

.selecionado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-weight: bolder;
}

.carregamento p{
    margin-top: 5px;
}

.barra{
    width: 100px;
}

.chamada{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--bg-secundario);
    height: 300px;
}

.chamada h3{
    font-size: 3em;
    color: var(--texto-principal);
    text-transform: uppercase;
    margin-left: 40px;
    padding-top: 40px;
}

.chamada h4{
    font-size: 3em;
    color: var(--cor-principal);
    text-transform: uppercase;
    margin-left: 40px;
}

.chamada p{
    font-size: 1.5em;
    color: var(--cor-basica);
    max-width: 500px;
    margin-left: 40px;
    margin-top: 10px;
}

.resumo{
    background-color: var(--bg-secundario);
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resumo h2{
    font-size: 2em;
    color: var(--cor-principal);
    text-transform: uppercase;
    margin-left: 40px;
}

.resumo img{
    width: 70px;
    margin-left: 30px;
    margin-top: 20px;
}

.row{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.row h3{
    color: var(--texto-principal);
}

.row p{
    color: var(--cor-clara);
}

.row .preco{
    color: var(--cor-principal);
    margin-left: 40px;
    margin-top: 20px;
    font-size: 1.2em;
    max-width: 90px;
    font-weight: bold;
}

.textos-meio{
    margin-left: 40px;
    margin-top: 20px;
}

form{
    display: flex;
    flex-direction: column;
}

form .button{
    background-color: var(--cor-principal);
    padding: 20px;
    width: 200px;
    color: var(--texto-principal);
    font-weight: bolder;
    font-size: 1.2em;
    border-radius: 77px;
    text-align: center;
    display: block;
    margin: 20 auto;
}

input{
    background-color: var(--cor-clara);
    border: 1px solid var(--cor-clara);
    border-radius: 10px;
    height: 50px;
    width: 400px;
}

.caixa-menor{
    display: flex;
    flex-direction: column;
}

.lado{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.dados{
    background-color: var(--bg-secundario);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.dados h3{
    color: var(--texto-principal);
    text-transform: uppercase;
    font-size: 2em;
}

label{
    color: var(--cor-clara);
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px;
}

footer{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 100%;
    background-color: #383838;
    font-size: 18;
    justify-content: space-between;
}
footer p{
    margin-top: 30px;
    max-width: 25%;
    color: white;
    font-family: Onest, sans-serif;
}

@media(max-width:769px){
    .logo img{
        margin-left: 0;
    }
    .menu a{
        gap: 15px;
        font-size: 0.8em;
    }

    .menu img{
        width: 30px;
    }
    .cabecalho{
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px;
    }
    .menu{
        max-width: 100%;
        display: flex;
        flex-direction: column;
    }
    .lado{
        display: flex;
        flex-direction: column;
    }

    footer {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        min-height: auto;
        padding: 30px 20px;
    }

    footer p {
        max-width: 100%;
        font-size: 14px;
    }
    footer img{
        margin-left: auto;
        margin-right: auto;
    }
}

@media(max-width: 426px){
    .dados{
        padding-top: 80px;
    }
    .carregamento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: var(--bg-secundario);
        padding-top: 50px;
    }
    .foto{
        padding: 0;
    }

    footer img{
        width: 50px;
        height: 50px;
    }

    .resumo img{
        margin: 0;
        margin-top: 10px;
        padding: 0;
    }

    input{
        background-color: var(--cor-clara);
        border: 1px solid var(--cor-clara);
        border-radius: 10px;
        height: 30px;
        width: 300px;
    }

    form .button{
        background-color: var(--cor-principal);
        padding: 10px;
        color: var(--texto-principal);
        font-weight: bolder;
        font-size: 1em;
        border-radius: 77px;
    }

    .chamada h3{
        font-size: 2em;
        color: var(--texto-principal);
        text-transform: uppercase;
        margin-left: 40px;
        padding-top: 40px;
    }

    .chamada h4{
        font-size: 2em;
        color: var(--cor-principal);
        text-transform: uppercase;
        margin-left: 40px;
    }

    .chamada p{
        font-size: 1.2em;
        color: var(--cor-basica);
        max-width: 500px;
        margin-left: 40px;
        margin-top: 10px;
    }

    .textos-meio{
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-left: 0;
        margin-top: 10px;
    }

    .row{
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .resumo h2{
        font-size: 1.8em;
    }

    .row .preco{
        font-size: 1em;
        margin: 10px;
        text-align: center;
        max-width: 100%;
    }

    .row h3{
        font-size: 1em;
    }

    .row p{
        font-size: 1em;
    }

    footer p{
        font-size: 0.5em;
    }
}

@media (max-width:376px){
    .textos-meio{
        font-size: 0.8em;
    }

    .dados h3{
        font-size: 1.6em;
    }
}

@media (max-width:321px){
    .resumo h2{
        font-size: 1.2em;
    }

    .resumo img{
        width: 40px;
    }

    .dados h3{
        font-size: 1.4em;
    }
}