
@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
body{
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    width: 100%;
    background-color: #383838;
    justify-content: center;
    align-items: center;
}
header img{
    width: 64px;
    
}
.banner{
    width: 100%;
}
.login-instrutor{
    width: 100%;
    height: 320px;
    background-color: #383838;
    display: flex;
    align-items: center;
    flex-direction: column;
}
main h3{
    text-transform: uppercase;
    font-size: 50px;
    color: white;
    margin-top: 20px;
    font-family: Onest, sans-serif;
}
.pt1-login{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 160px;
    width: 700px;
    background-color: #9B9B9B;
    margin-top: 30px;
    border-radius: 40px;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.pt2-login{
    height: 80px;
    width: 350px;
    background-color: #EE633C;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.pt2-login h4{
     font-family: Onest, sans-serif;
     font-size: 25;
     color: white;

}
.pt1-login h3{
    font-size: 25;
    color: black;
    padding-bottom: 20px;
}
.capa-bibliotecaexerc{
    width: 100%;
    background-image: url(../img/capa.png);
    width: 100%;
    height: 450px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quadrado-laranja{
    width: 60%;
    height: 205px;
    background-color: #EE633C;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quadrado-laranja h5{
    font-family: Onest, sans-serif;
    font-size: 40;
    text-align: center;
    color: white;
    text-shadow: 0px 8px 6px #383838;
}
footer{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 100%;
    background-color: #383838;
    font-size: 18;
    justify-content: space-between;
}
footer p{
    margin-top: 30px;
    max-width: 25%;
    color: white;
    font-family: Onest, sans-serif;
}
@media (max-width: 769px){
    footer{
        height: 150px;
    }
}
@media (max-width: 426px){
    body{
        width: 110%;
    }
    .pt1-login{
        width: 420px;
    }
    .quadrado-laranja h5{
        font-size: 30px;
    }
    footer {
        height: auto;
    }
    footer p {
        font-size: x-small;
    }
}
@media (max-width: 376px){
    body{
        width: 111%;
    }
}
@media (max-width: 426px) {
    .pt1-login {
        width: 350px;
    }
}
@media (max-width: 321px){
    .pt1-login{
        width: 350px;
    }
     .quadrado-laranja h5{
        font-size: 20px;
    }
}