@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');
*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background: #2f2f2f;
    color: white;
}
header{
    background-color: var(--bg-principal);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
}

a{
    color: var(--texto-principal);
    padding: 30px;
    text-transform: uppercase;
    font-weight: bold;

}

header .img{
    width: 100px;
    margin-left: 30px;

}

header nav a img{
    width: 60px;
    margin-left: 20px;
}

.banner{
    width: 100%;
    height: 340px;
    background-image:
    linear-gradient(to top, rgba(47,47,47,1), rgba(0,0,0,0.4)),
    url("../img/banner.png");
    background-position: center;
    display: flex;
    padding: 40px;
}

.texto-banner h1{
    font-size: 48px;
    max-width: 500px;
}

.container{
    width: 92%;
    max-width: 1400px;
    margin: 30px auto;
    display: flex;
    gap: 25px;
}

.grafico,
.antes-depois{
    background-color: #1f1f1f;
    border-radius: 24px;
    padding: 25px;
    border: 1px solid rgba(255,255,255,0.06);
    transition: 0.3s;
}

.grafico:hover,
.antes-depois:hover{
    transform: translateY(-5px);
    border-color: #ff6a00;
}

.grafico{
    width: 68%;
}

.antes-depois{
    width: 28%;
}

.grafico h2,
.antes-depois h2{
    margin-bottom: 20px;
    font-size: 24px;
}

.grafico img{
    width: 100%;
    border-radius: 15px;
    object-fit: cover;
}


.antes-depois img{
    width: 100%;
    border-radius: 15px;
    margin-bottom: 20px;
}

.antes-depois button{
    width: 100%;
    background-color: #ff6a00;
    color: white;
    border: none;
    padding: 14px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.antes-depois button:hover{
    transform: translateY(-3px);
}
.cards{
    width: 92%;
    max-width: 1400px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-bottom: 50px;
}

.card{
    background: linear-gradient(145deg, #1f1f1f, #292929);
    border-radius: 22px;
    padding: 25px;
    border: 1px solid rgba(255,255,255,0.06);
    transition: 0.3s;
}

.card:hover{
    transform: translateY(-5px);
    border-color: #ff6a00;
}

.card h3{
    color: #ff6a00;
    margin-bottom: 15px;
    font-size: 18px;
}

.numero{
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card span{
    color: #ff9a4d;
    font-size: 15px;
}


footer{
    display: flex;
    flex-direction: row;
    height: 100px;
    width: 100%;
    background-color: #383838;
    font-size: 18;
    justify-content: space-between;
    margin-top: 5%;
}
footer p{
    margin-top: 30px;
    max-width: 25%;
    color: white;
    font-family: Onest, sans-serif;
}
@media(max-width: 768px){
    header{
        flex-direction: column;
        height: auto;
        padding: 20px;
    }
    .banner{
        justify-content: center;
        text-align: center;
        padding: 20px;
    }
    .texto-banner h1{
        font-size: 30px;
    }
    .container{
        flex-direction: column;
    }
    .grafico,
    .antes-depois{
        width: 100%;
    }
    .cards{
        grid-template-columns: 1fr;
    }
    footer{
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 20px;
        text-align: center;
    }
    footer p{
        max-width: 100%;
    }

}