@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-principal: #383838;
    --bg-secundario: #000000;
    --texto-principal: #FFFFFF;
    --cor-principal: #EE633C;
    --cor-basica: #9B9B9B;
    --cor-clara: #A6A3A3;
}

body{
    font-family: Onest;
}

header{
    background-color: var(--bg-principal);
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
}

a{
    color: var(--texto-principal);
    padding: 30px;
    text-transform: uppercase;
    font-weight: bold;

}

header .img{
    width: 100px;
    margin-left: 30px;

}

header nav a img{
    width: 60px;
    margin-left: 20px;
}

.carregamento{
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    background-color: var(--bg-secundario);
}

.carregamento p{
    color: var(--texto-principal);
}

.contagem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.primeiro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numeros{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-principal);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-weight: bolder;
}

.selecionado{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-principal);
    width: 60px;
    height: 60px;
    border-radius: 100%;
    font-weight: bolder;
}

.carregamento p{
    margin-top: 5px;
}

.barra{
    width: 100px;
}

.principal{
    background-color: var(--bg-secundario);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principal h3{
    padding-top: 40px;
    color: var(--texto-principal);
    font-size: 2em;
    margin-left: 40px;
}

.principal p{
    color: var(--texto-principal);
    font-size: 1.1em;
    font-weight: lighter;
}

.opcoes{
    background-color: var(--cor-clara);
    border-radius: 80px;
    width: 70%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px;
    gap: 10px;
}

.principal .valor{
    color: var(--bg-secundario);
    font-size: 2em;
    font-weight: bolder;
}

.principal .frequencia{
    color: var(--bg-secundario);
    font-size: 1.5em;
    font-weight: bold;

}

.principal .selecionar{
    background-color: var(--bg-principal);
    color: var(--texto-principal);
    padding: 10px;
    width: 150px;
    border-radius: 30px;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    padding: 30px;
}

footer{
    display: flex;
    flex-direction: row;
    height: 120px;
    width: 100%;
    background-color: #383838;
    font-size: 18;
    justify-content: space-between;
}
footer p{
    margin-top: 30px;
    max-width: 25%;
    color: white;
    font-family: Onest, sans-serif;
}

@media (max-width:769px){
    footer p{
        font-size: 0.8em;
    }

    footer{
        padding: 0;
        margin: 0;
        max-width: 100%;
    }

    .foto{
        padding: 0;
    }
}

@media (max-width:426px){
    header nav a{
        padding: 20px;
    }

    .carregamento{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        background-color: var(--bg-secundario);
        padding-top: 50px;
    }

    .principal h3{
        font-size: 1.6em;
    }

    .principal p{
        font-size: 0.9em;
    }

    .principal .valor{
        font-size: 1.6em;
    }

    .principal .frequencia{
        font-size: 1.3em;
    }

    footer{
        font-size: 0.7em;
    }
}

@media (max-width: 376px){
    .logo-h{
        width: 70px;
        height: 40px;
    }

    header nav a img{
        width: 50px;
        height: 50px;
    }
}

@media (max-width: 321px){
    .logo-h{
        width: 0;
        height: 0;
    }

    .principal p{
        font-size: 0.7em;
    }

    .principal h3{
        font-size: 1.4em;
    }

    footer p{
        font-size: 0.5em;
    }

    footer img{
        width: 100px;
        height: 80px;
        padding: 0;

    }
}